.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: var(--input-width);
  font-variation-settings: var(--label-font-settings);
}

.input {
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  background: transparent;
  font-variation-settings: var(--text-font-settings);
  outline-offset: var(--outline-offset);
}

.radiocheck {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-variation-settings: var(--label-font-settings);
  flex-direction: row-reverse;
  margin-right: auto;
}
