.button {
  background-color: var(--secondary-background);
  border: none;
  border-radius: var(--border-radius-button);
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 0.5rem 1rem;
  font-variation-settings: var(--button-font-settings);
  align-self: center;
  outline-offset: var(--outline-offset);
}
