.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fbf7f5;
  width: min(100%, 500px);
  padding: 2rem;
  align-items: flex-start;
  margin: auto;
  position: relative;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 1rem;
  }
}
