.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  background-color: #fbf7f5;
  padding: 2rem;
  align-items: flex-start;
  margin: auto;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 1rem;
  }
}
