.btn {
  width: calc(var(--switch-size) * 2);
  height: var(--switch-size);
  padding: calc(var(--switch-size) / 16);
  position: relative;
  border-radius: 10000px;
  background-color: var(--secondary-background);
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  will-change: transform;
  border-radius: 10000px;
  background-color: var(--primary-background);
}

.txt {
  display: block;
  margin-top: -1px;
}
