.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 1rem;
  gap: 0.6125rem;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
