.headerwrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
  align-items: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  border-bottom: solid 2px black;
  padding: 1rem;
}

.titlewrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
