.headerwrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
  align-items: center;
  border-bottom: solid 2px black;
  padding: 1rem;
}

.titlewrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}

.triggerWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
